@model ChatModel

@{
    ViewData["Title"] = "Home Page";
    var userName = User.Identity.Name;
    var userId = Model.CallerId;
    var id = Model.Id;
    var dList = Model.DialogsWithFriendsList.Count;
}



<div class="jumbotron" id="mainContainer">

    <div class="row" id="friendsAndChat">
        @*список диалогов с друзьями*@
        @if (Model.DialogsWithFriendsList.Count != 0)
        {
            <div class="col-md-3" id="friends" style="padding-top: 1rem; ">
                <div style="padding-left: 1rem">
                    Friends
                    
                    <form class="form-inline d-flex md-form form-sm active-cyan active-cyan-2 mt-2" id="searchDialog">

                        <input class="form-control form-control-sm ml-0 w-100" type="text" placeholder="Search"
                               aria-label="Search">
                        @*<i class="fas fa-search" aria-hidden="true" id="iSearch"></i>*@
                    </form>
                </div>


                <div class="scrollbar scrollbar-gray bordered-gray thin" id="friendsBar">
                    <div class="force-overflow">
                        @foreach (var dialog in Model.DialogsWithFriendsList.OrderByDescending(m => m.LastActivityUtc))
                        {
                            string containerClass, timePosition, textAlign, contcolor, offset;

                            containerClass = "container";
                            timePosition = "time-left";
                            textAlign = "sendertext-left";
                            

                            var participant = dialog.Participants.FirstOrDefault(i => i.AppUserId != userId);

                            var msg = dialog.Messages.Count != 0 ? (dialog.Messages.OrderBy(t => t.CreatedUtc).Last().Text) : ("");

                            <div class="border-bottom" id="bordersForDialog" style="border-color: #bab6b6">
                                <div class="row friend" data-dialog-id="@dialog.Id" data-friend-id="@participant.AppUserId" id="dialogRow">
                                   
                
                                        <div class="col-md-1 offset-md-1">
                                            <img src="Images/pf.jpg"
                                                 width="50" height="50" alt="avatar" class="rounded-circle">
                                        </div>

                                        <div class="col-md-2 offset-md-2">
                                            <div class="@containerClass" id="loginContainer">
                                                <p class="sender @textAlign" id="senderForDialog">@participant.AppUserName</p>
                                                <p class="sender @textAlign" id="messageFromDialogRow" style="font-size: 12px; overflow-x: hidden; text-overflow: ellipsis; margin-bottom: 0px">@msg</p>
                                            </div>
                                        </div>
                                    
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>


            @*сообщения        *@
            <div class="col-md-9" id="chat">
                <div class="row" id="rowForMessageScroll">

                    <div class="scrollbar scrollbar-indigo bordered-indigo" id="messagesBar">
                        <div class="force-overflow" id="msgScroll">

                            <div id="viewPlaceHolder">

                            </div>
                            <br /><br />
                        </div>
                    </div>
                </div>


                <div class="row" id="rowForMessageScroll">
                    <div class="d-flex form-group" id="textAndButtonForSend">
                        <input name="Text" class="form-control" id="messageText" />

                        <button type="button" class="btn btn-outline-primary" id="sendButton">Send</button>
                    </div>
                </div>

                @*<div id="inputForm">
                        <input type="text" id="message" />
                        <input type="button" id="sendBtn" value="Отправить" />
                    </div>*@

                <input type="hidden" value="@userName" name="username" />
            </div>


        }

        else
        {
            <h1 style="margin-left: 1rem">Let's find your friend soon</h1>
        }
    </div>
</div>


@if (User.Identity.IsAuthenticated)
{
    <script>
        const userName = "@ViewBag.CurrentUserName";
    </script>
}




<script>
    var _dialogId;
    $(".row.friend").click(function () {

        if (_dialogId != null) {
            $(".row.friend").css('background', '#d5dce3');
            $(".row.friend").css('color', 'black');
        }

        var dialogId = $(this).attr('data-dialog-id');
        var userId = $(this).attr('data-friend-id');
        $(this).css('background', '#4972a6');
        $(this).css('color', 'white');
        $("#viewPlaceHolder").load("/home/getmessages", { dialogId: dialogId });
        _dialogId = dialogId;
    });
</script>



<script>
    $("#sendButton").off().on('click',
        function () {
            let text = document.getElementById("messageText").value;
            
            $.post("/home/send/", { text: text, dialogId: _dialogId }, function () {
                    $("#viewPlaceHolder").load("/home/getmessages", { dialogId: _dialogId });
                }
            );
        });
</script>



<script src="~/lib/signalr/signalr.min.js"></script>
<script src="~/lib/jquery/dist/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/js/chat.js"></script>
<script src="~/js/signalrReqHandler.js"></script>

