@model ChatServerSignalRWithIdentity.Data.DTO.AppUserResponse

@{
    ViewData["Title"] = "Home Page";
    var userName = User.Identity.Name;
    
}


<div class="jumbotron bg-light">

    <div class="row">
  
            @if (Model != null)
            {
                string containerClass, timePosition, textAlign, contcolor, offset;

                    containerClass = "container";
                    timePosition = "time-left";
                    textAlign = "sendertext-right";
                    contcolor = "bg-light";

                var anotherUserId = Model.Id;
            <div class="col-md-12" id="friends">
                Youre friend?
                <p></p>
                <div class="row">

                    <div class="col-md-2">
                        <img src="/Images/pf.jpg" width="50" height="50" alt="avatar" class="rounded-circle" />
                    </div>

                    <div class="col-md-3">
                        <div class="@containerClass @contcolor">
                            <p class="sender @textAlign">@Model.Login</p>
                        </div>
                    </div>

                    <div class="col-md-3 offset-4">
                        <form asp-action="AddFriend"
                              data-ajax-begin="clearInputField" data-ajax-complete=""
                              data-ajax-failure="alert('Fail')" data-ajax-success="addFriendAndCreateDialog"
                              data-ajax="true" data-ajax-method="POST">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="d-flex form-group">
                                
                            <input type="submit"  onclick="changeButtonFollow()" value="Follow" id="followButton" class="btn" />
                                @*<input type="submit" value="Follow" id="submitButton" class="btn "/>*@
                            </div>

                            <input type="hidden" value="@anotherUserId" name="anotherUserId" />
                        </form>
                    </div>
                </div>
               </div>
            }

            else
            {
                <h1>No result</h1>
            }

    </div>
</div>


@if (User.Identity.IsAuthenticated)
{
    <script>
        const userName = "@ViewBag.CurrentUserName";
    </script>
}

<script src="~/lib/signalr/signalr.min.js"></script>
<script src="~/lib/jquery/dist/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/js/chat.js"></script>
<script src="~/js/signalrReqHandler.js"></script>

