@using ChatServerSignalRWithIdentity.Data
@using Microsoft.AspNetCore.Identity
@model ChatServerSignalRWithIdentity.Models.Couple
@*поменяй на респонс*@

@{
    ViewData["Title"] = "Home Page";
    var userName = User.Identity.Name;
    var myUserId = Model.MyUser.Id;
    var otherUserId = Model.OtherUser.Id;
    var status = Model.Status;
}


<div class="jumbotron bg-light">

    <div class="row">

        @if (Model.OtherUser.Id != null)
        {
            var values = new[] { myUserId, otherUserId }.OrderBy(x => x).ToArray();
           // var relationship = await  _context.UserRelationships.Where(f => (f.BiggerUserId == values.Last()) && f.SmallerUserId == values.First()).ToListAsync();

            string containerClass, timePosition, textAlign, contcolor, offset;

            containerClass = "container";
            timePosition = "time-left";
            textAlign = "sendertext-right";
            contcolor = "bg-light";

            var anotherUserId = Model.OtherUser.Id;
            <div class="col-md-12" id="friends" style="margin-left: 1rem">
                Youre friend?
                <p></p>
                <div class="row" style="margin-left: 1rem">

                    <div class="col-md-2">
                        <img src="/Images/pf.jpg" width="50" height="50" alt="avatar" class="rounded-circle" />
                    </div>


                    <div class="col-md-3">
                        <div class="@containerClass @contcolor">
                            <p class="sender @textAlign">@Model.OtherUser.Login</p>
                        </div>
                    </div>

                    <div class="col-md-3 offset-4">
                        @if (Model.Status==RelationshipStatus.Stranger)
                        {
                        <div class="d-flex form-group">
                            <form action="AddFriendAndCreateDialog">
                                <input type="submit" value="Follow" class="btn" />
                                <input type="hidden" value="@anotherUserId" name="anotherUserId" />
                            </form>

                            <button id="blockActionsButton" class="block btn" data-user-id="@anotherUserId" data-action-type="block">Block</button>
                        </div>

                        }
                        
                        else if (Model.Status==RelationshipStatus.Friend)
                        {
                        <div class="d-flex form-group">
                            <button class="delete btn" data-user-id="@anotherUserId">Unfollow</button>
                           
                            <button id="blockActionsButton" class="block btn" data-user-id="@anotherUserId" data-action-type="block">Block</button>
                        </div>
                        }

                        else if (Model.Status==RelationshipStatus.BigBlockSmaller && Model.MyUser.Id== values.Last()
                                 || Model.Status == RelationshipStatus.SmallBlockBigger && Model.MyUser.Id == values.First())
                        {
                        <div class="d-flex form-group">

                             <form action="AddFriendAndCreateDialog">
                                  <input type="submit" onclick="changeButtonFollow()" value="Follow" id="followButton" class="btn" />
                                  <input type="hidden" value="@anotherUserId" name="anotherUserId" />
                             </form>
                      
                             <button id="blockActionsButton" class="unblock btn" data-user-id="@anotherUserId" data-action-type="unblock">Unblock</button>
                        </div>
                        }

                        else if (Model.Status == RelationshipStatus.SmallBlockBigger && Model.MyUser.Id == values.Last()
                                 || Model.Status == RelationshipStatus.BigBlockSmaller && Model.MyUser.Id == values.First())
                        {
                            <h1>you are in the block </h1>
                        }

                    </div>
                </div>
            </div>

        }

        else
        {
            <h1 style="margin-left: 2rem">No result</h1>
        }

    </div>
</div>


@if (User.Identity.IsAuthenticated)
    {
        <script>
            const userName = "@ViewBag.CurrentUserName";
            const userId = "@ViewBag.CurrentUserId";
        </script>
    }

<script src="~/lib/signalr/signalr.min.js"/>
<script src="~/lib/jquery/dist/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/js/chat.js"></script>
<script src="~/js/signalrReqHandler.js"></script>

@*<script>
    $(function() {
     
        $('.block').off().on('click',
            function () {
                let userId = $(this).attr('data-user-id');

                $.post("/home/block/" + userId, function (data) {
                    alert("Friend in block with " + userId);
                });

                var dataString = 'userId='+ userId ;
                var parent = $(this);

                $("#blockButton").fadeOut(300);
                $.ajax({
                    type: "POST",
                    data: dataString,
                    cache: false,

                    success: function(html)
                    {
                        $("#blockButton").html('<button id="' +userId '" name="unblock" class="btn btn-danger unblock">Unblock</button>');
                        $("#blockButton").fadeIn(300);

                    } 
                });
                return false;
            });
    });


    $(function () {

        $('.unblock').off().on('click',
            function () {
                let userId = $(this).attr('data-user-id');

                $.post("/home/unblock/" + userId, function (data) {
                    alert("Friend in unblock with " + userId);
                });

                var dataString = 'userId=' + userId;
                var parent = $(this);

                $("#unblockButton").fadeOut(300);
                $.ajax({
                    type: "POST",
                    data: dataString,
                    cache: false,

                    success: function (html) {
                        $("#unblockButton").html('<button id="' + userId '" name="block" class="btn btn-danger block">Block</button>');
                        $("#unblockButton").fadeIn(300);

                    }
                });
                return false;
            });
    });

</script>*@

<script>
    $('.delete').off().on('click',
        function () {
            let userId = $(this).attr('data-user-id');
            
            $.post("/home/deletefriend/" + userId, function( data ) {
                alert("You're not friends anymore with " + userId);
            });
        });
</script>

@*<script>
    $('.block').off().on('click',
        function () {
            let userId = $(this).attr('data-user-id');

            $.post("/home/block/" + userId, function (data) {
                alert("Friend in block with " + userId);
            });
        });
</script>

<script>
    $('.unblock').off().on('click',
        function () {
            let userId = $(this).attr('data-user-id');

            $.post("/home/unblock/" + userId, function (data) {
                alert("Friend in block with " + userId);
            });
        });
</script>*@

<script>
    $('#blockActionsButton').off().on('click',
        function () {
            //const userId = $(this).value;
            const actionType = $(this).attr('data-action-type');
            let userId = $(this).attr('data-user-id');

            if (actionType === 'block') {
                $.post("/home/block/" + userId,
                    function(data) {
                        alert("Friend in block with " + userId);
                        $(this).attr('data-action-type', 'unblock');
                        $(this).text('Unblock');
                    });
            } else {
                $.post("/home/unblock/" + userId,
                    function(data) {
                        alert("Friend unblocked");
                        $(this).attr('data-action-type', 'block');
                        $(this).text('Block');
                    });
            }
        });
</script>